<section class="pt-5 mt-1 text-white">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-md-4 col-sm-6" >
                <h2>Location</h2>
                <p>2215 John Daniel Drive</p>
                <h5>Clark, MO 65243</h5>
            </div>
            <div class="col-md-4 col-sm-6">
                <h2>Around The Web</h2>
                <div class="icons d-flex justify-content-center align-items-center">
                    <p><i class="fa-brands fa-facebook mx-2 fs-4 border rounded-circle p-2 "></i></p>
                    <p><i class="fa-brands fa-twitter mx-2 fs-4 border rounded-circle p-2 "></i></p>
                    <p><i class="fa-brands fa-linkedin mx-2 fs-4 border rounded-circle p-2  px-2 w-75"></i></p>
                    <p><i class="fa-solid fa-globe mx-2 fs-4 border rounded-circle p-2 "></i></p>
                </div>


            </div>
            <div class="col-md-4">
                <h2>About Freelancer</h2>
                <p>Freelance is a free to use, licensed Bootstrap theme</p>
                <p>created by Route</p>
            </div>
        </div>
    </div>
</section>