<div class="home mt-4">
    <div class="container d-flex justify-content-center align-items-center flex-column vh-100">
        <h1 class="">ABOUT COMPONENT</h1>
        <i class="fa-solid fa-star mb-4 mt-2 fs-4"></i>
        <div class=" d-flex">
            <p class="w-100 ms-4 p1">Freelancer is a free bootstrap theme created by Route. The download includes the complete
                source files
                including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            <p class="w-100 ms-5 p2">Freelancer is a free bootstrap theme created by Route. The download includes the
                complete
                source files
                including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
    </div>
</div>